body{
    background-image: url("images/image_2.jpg");
    padding: 0;
    margin: 0;
}

form {
    /* Just to center the form on the page */
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 0 auto;
    padding: 2em 2em 1em 3em;
    width: 310px;
    background-color: #00898e;
    margin-top: 20px;
}
form div + div {
    margin-top: 2em;
}
label {
    /* To make sure that all labels have the same size and are properly aligned */
    color: white;
    /*display: inline-block;*/
    text-align: right;
    width: 90px;
    font-family: 'Roboto';
}
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em helvetica;

    /* To give the same size to all text field */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}
textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on all browsers */
    resize: vertical;
}
.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
}
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    color: #E8340C;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    background-color: #00898e;
}

*{
    color: #eee;
    font-family: 'roboto', sans-serif;
}

ul, ul li{
    display: inline-block;
}

li{
    padding-right: 20px;
}



.logo h1{
    width: 40%;
    display: block;
    float: left;
    font-family: 'Yellowtail', cursive;
}

a{
    text-decoration: none;
}

a:hover{
    color: #003638;
    border-bottom: 2px solid #003638;
}

.active{
    color: #003638;
    border-bottom: 2px solid #003638;    
}

nav{
    float: right;
    width: 40%;
    text-align: right;
}

header{
    background-color: rgba(0,137,142,0.5);
    display: block;
    padding-bottom: 80px;
}

h1{
    padding: 0 8px;
}

select{
    background-color: #005f63;
}

input{
    color: #000;
}